* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


nav {
    background-color: #000F08;
    color: white;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4em;
}

nav ul li {
    padding: 0 2em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


nav ul li a img {
    vertical-align: middle;
    filter: invert(1);
}

.hero {
    background-image: url('../img/bg-hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: right;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content h2 {
    font-weight: lighter;
}

#meeting-place {
    text-align: center;
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
}

#meeting-place img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#meeting-place h2 {
    font-size: 2.5em;
    margin: 20px 0;
}

#meeting-place p {
    font-size: 1.5em;
    margin: 20px 0;
}


#next-talk {
    background: #A4452C 0% 0% no-repeat padding-box;
    opacity: 1;

    padding: 100px;
    color: white;
}

#next-talk .wrapper {
    width: 800px;
    margin: auto;

}

#next-talk img {
    width: 25%;
}

#next-talk .speaker-text {
    width: 70%;
    margin-left: 4%;
}

#next-talk h2 {
    font-size: 2.5em;
}

#next-talk img,
#next-talk .speaker-text {
    display: inline-block;
    vertical-align: middle;
}

#next-talk .speaker-text span {
    display: block;
    margin: 10px 0;
}


#previous-events {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.event-title {
    font-weight: 700;
    font-size: 24px;
    margin: 30px;
}

.event-grid {
    display: flex;
    justify-content: space-between;
}

.event {
    width: calc(33% - 10px);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
}

.event img {
    width: 100%;
    height: auto;
}

.event-name {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.footer {
    background-color: #000F08;
    color: white;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 2.5em;
}

.footer .social-icons a {
    color: white;
    margin: 0 10px;
}

.footer .copyright {
    font-size: 16px;
}


@media (min-width: 768px) {
    .hero {
        padding: 4em 0;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero h2 {
        font-size: 2em;
    }
}


.content-container {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

.content-container .event-title {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
}

.content-container .event-image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.content-container .event-description {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #555;
}

.content-container .event-section-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-top: 48px;
    margin-bottom: 16px;
}